<div class="jumbotron">
    <h1>KwizWar Enterprise App Settings</h1>
    <p class="lead">This web API provides access to the platforms configuration settings</p>
    <p>@ViewBag.Version</p>
    <p>@Html.ActionLink("Check out the API documentation here", "Index", "Help", new { area = "" }, new { @Class = "btn btn-primary btn-lg" })</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>All the services here are industry standard REST Services and you can program directly against them. To make things easier we have also provided a .Net library that you can use in your .Net or MVC projects.</p>
    </div>
    <div class="col-md-6">
        <h2>Swagger</h2>
        <p>Swagger provides a simple yet powerful representation of this RESTful API.</p>
        <p>
            There are many tools available to help you generate client API's for this service. See <a href="http://swagger.io/open-source-integrations/" target="_blank">Swagger Tools</a>
        </p>
        <p>For the link to the swagger json click on the link below.</p>
        <p><a class="btn btn-default" href="/swagger" target="_blank">Swagger Api Docs &raquo;</a></p>
    </div>
</div>
